In [1]:
import pandas as pd

In [2]:
transaction_1 = pd.read_csv('transaction_1.csv')

In [6]:
transaction_2 = pd.read_csv('transaction_2.csv')

# データを結合する
# pandas.concat https://pandas.pydata.org/docs/reference/api/pandas.concat.html
transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)
transaction.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [5]:

# 結合前後でのレコード数の確認
print(len(transaction_1))
print(len(transaction_2))
print(len(transaction))

5000
1786
6786